.grid-item-note h3 {
  font-weight: 500;
  margin-bottom: 0.8rem;
  word-break: break-all;
  margin-right: 2rem;
}
.grid-item-note p {
  margin-bottom: 0.8rem;
  word-break: break-all;
}
.grid-item-stretch {
  display: flex;
  flex-direction: column;
}
.grid-item-note {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.edit-section span.tag {
  padding: 0.2rem 0.7rem;
  border: none;
  background-color: var(--hover-color);
}
.editInput {
  margin: 0 1rem;
  width: 500px;
}

.editInput-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;
  background-color: rgb(173, 216, 230, 0.5);
}

@media screen and (max-width: 768px) {
  .editInput {
    width: 100%;
  }
}
